<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.Farmfarm.mapper.SensorMapper">

	
	

	
	<select id="weektemp" resultType="edu.Farmfarm.domain.SensorVO">
		<![CDATA[SELECT Temp FROM sensorinfo LIMIT 20]]>
	</select>
	
	<select id="tempck" resultType="edu.Farmfarm.domain.SensorVO">
		<![CDATA[SELECT seq,Temp FROM sensorinfo ORDER BY seq DESC LIMIT 20]]>
	</select>
	
	<select id="weeklight" resultType="edu.Farmfarm.domain.SensorVO">
		<![CDATA[SELECT Light FROM sensorinfo LIMIT 20]]>
	</select>
	
	<select id="lightck" resultType="edu.Farmfarm.domain.SensorVO">
		<![CDATA[SELECT seq,Light FROM sensorinfo ORDER BY seq DESC LIMIT 20]]>
	</select>
	
	<select id="weekground" resultType="edu.Farmfarm.domain.SensorVO">
		<![CDATA[SELECT Ground FROM sensorinfo LIMIT 20]]>
	</select>
	
	<select id="groundck" resultType="edu.Farmfarm.domain.SensorVO">
		<![CDATA[SELECT seq,Ground FROM sensorinfo ORDER BY seq DESC LIMIT 20]]>
	</select>
	
	<select id="weekwater" resultType="edu.Farmfarm.domain.SensorVO">
		<![CDATA[SELECT Water FROM sensorinfo LIMIT 20]]>
	</select>
	
	<select id="waterck" resultType="edu.Farmfarm.domain.SensorVO">
		<![CDATA[SELECT seq,Water FROM sensorinfo ORDER BY seq DESC LIMIT 20]]>
	</select>
	
	<select id="weektime" resultType="edu.Farmfarm.domain.SensorVO">
		<![CDATA[SELECT DATE_FORMAT(Time,'%Hh%im') Time FROM sensorinfo LIMIT 20]]>
	</select>
	
	<select id="maxnum" resultType= "Integer">
		<![CDATA[SELECT MAX(seq) seq FROM sensorinfo]]>
	</select>

	
	
</mapper>

