<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.Farmfarm.mapper.UserMapper">

<insert id="register">
        INSERT INTO memberinfo (ID,PW,Username,Email,Serialnum)
        VALUES (#{ID}, #{PW}, #{Username}, #{Email}, #{Serialnum})
</insert>

<select id="login" resultType = "edu.Farmfarm.domain.UserVO">
SELECT * FROM memberinfo WHERE ID = #{ID}
</select>

<select id = "myInfo" resultType = "edu.Farmfarm.domain.UserVO">
SELECT * FROM memberinfo WHERE ID = #{object}
</select>

<update id = "changeName">
UPDATE memberinfo SET Username = #{Username} WHERE ID = #{ID}
</update>

<update id = "changeEmail">
UPDATE memberinfo SET Email = #{Email} WHERE ID = #{ID}
</update>     

<update id = "changeSerial">
UPDATE memberinfo SET Serialnum = #{Serialnum} WHERE ID = #{ID}
</update> 

<update id = "changePW">
UPDATE memberinfo SET PW = #{PW} WHERE ID = #{ID}
</update> 

<delete id = "leave">
DELETE FROM memberinfo where ID = #{ID}
</delete>

<select id="checkOverId" resultType = "int">
SELECT count(*) FROM memberinfo WHERE ID = #{ID}
</select>
</mapper>  