<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.Farmfarm.mapper.UserMapper">

<insert id="register">
        INSERT INTO memberinfo (ID,PW,Username,Email,Serialnum)
        VALUES (#{ID}, #{PW}, #{Username}, #{Email}, #{Serialnum})
    </insert>
    
</mapper>  